* {
  box-sizing: border-box;
  font-family: 'Metal Mania', cursive;
}

h1 {
    align-items: center;
    justify-content: center;    
    color: lime;
    display: grid;
    flex-direction: column;
    margin: 1vmin;
    padding: 1vmin;
    border-radius: 10%;
    background-color: black;
    border: solid;
    border-color: hotpink;
    border-spacing: 5vmin;
    border-width: 1vmin;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 1%;
    margin-top: 5vmin;
    /*background-color: black;*/
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px auto 100px ;
    /*background-position: left top;*/
    /*background-repeat: repeat;*/
    padding: 15px;
   
}

button {
    border-radius: 20%;
    margin-top: 1vmin;
    border: solid;
    border-color: hotpink;
    border-width: 1vmin;
    color: lime;
    background-color: black;
}

h2 {
    margin-top: 0;
    margin-bottom: 5vmin;
    

}

#canvas {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    background-color: darkslategray;
    border-radius: 5vmin;
    border: solid;
    border-color: hotpink;
    border-spacing: 5vmin;
    border-width: 1vmin;
  }
  
  #canvas > div {
    border-radius: 50%;
    margin: 3vmin;
    background-color: black;
    border: .6vmin solid darkmagenta;
  }
  
  #canvas > div.avail {
    cursor: crosshair;
  }
  
  #canvas > div.avail:hover {
    border-color: hotpink;
  }

  button:disabled {
    background-color: red;
    color: black;
    cursor:grab;
  }
  
  button:hover:not(:disabled) {
    background-color: lime;
    color: black;
    cursor: crosshair;
  }

  div:hover {
    background-color: red;
  }

  

