* {
    box-sizing: border-box;
    font-family: 'Metal Mania', cursive;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 1%;
    margin-top: 5vmin;
    background-color: black;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 30px auto 100px ;
    /*background-position: left top;*/
    /*background-repeat: repeat;*/
    padding: 15px;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 5vmin;
  }
  
  #canvas {
    display: grid;
    grid-template-columns: repeat(3, 20vmin);
    grid-template-rows: repeat(3, 20vmin);
    background-color: darkslategray;
    border-radius: 5vmin;
    border: solid;
    border-color: whitesmoke;
    border-spacing: 7vmin;
    border-width: 1vmin;
    padding: 4vmin;
  }
  
  #canvas > div {
    margin: 3vmin;
    background-color: white;
    border: solid;
    border: 1vmin hotpink;
    border-radius: 50%;
  }
  
  #canvas > div.avail {
    cursor: crosshair;
  }
  
  #canvas > div.avail:hover {
    border-color: grey;
  }
  
  button {
    margin-top: 5vmin;
    padding: 1.5vmin;
    background-color: darkslategray;
    color: whitesmoke;
    border-color: black;
    border: solid;
    border-radius: 5vmin;
    font-size: 4vmin;
    border-width: 1vmin;
  }
  
  button:disabled {
    background-color: red;
    color: black;
    border-color: whitesmoke;
    cursor: crosshair;
  }
  
  button:hover:not(:disabled) {
    background-color: lime;
    color: black;
    border-color: whitesmoke;
    cursor: crosshair;
  }

